<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <marquee behavior="" direction=""><h1>max number operation</h1></marquee>
    
        {% if a > b %}
        <h1>i am in if,a is max </h1>
        {% else %}
        <h1 style="color: aqua;">i am in else, b is max</h1>
        {% endif %}
    </center>
</body>
</html>